---
import QForm from '../../layouts/Question-form.astro';
import Submit from '../../components/Submit.astro';

import Likard from '../../components/Likard.astro';
import Boolean from '../../components/Boolean.astro';
import BoolMultiple from '../../components/BoolMultiple.astro';
import Open from '../../components/OpenAnswer.astro';
import Checkbox from '../../components/Checkbox.astro';
---
<QForm title='Demographics'>
    <h2 class="instructions">Please tell us a bit about yourself:</h2>

    <BoolMultiple 
        body="Please choose your gender:" 
        questionId="1"
        choices={ ['Male','Female'] }>
    </BoolMultiple>

    <BoolMultiple 
    body="Please select your age group:" 
    questionId="2"
    choices={ ['<20','21-30','31-40','41-50','51-60','>61'] }>
    </BoolMultiple>

    <BoolMultiple 
    body="How frequently do you use streaming services for movies/series (Netflix, Disney+, HBO max, etc.)?" 
    questionId="3"
    choices={ ['Never', 'Very infrequently (just a few times overall)', 'Infrequnetly (a few times overall)', 'Moderately (1-3 times a week)', 'Regularly (daily/almost daily)']}>
    </BoolMultiple>

    <BoolMultiple 
    body="If you use them, do you prefer to pick what you watch yourself, or do you follow the recommendations?" 
    questionId="4"
    choices={ ['I pick moves/series to watch myself', 'I pick movies/series from the "recommended for you" section', 'Both'] }
    >
    </BoolMultiple>

    <BoolMultiple 
        body="Compared to my peers I watch a lot of movies" 
        questionId="5">
    </BoolMultiple>

    <BoolMultiple 
    body="Compared to my peers I am an expert on movies" 
    questionId="6">
    </BoolMultiple>

    <BoolMultiple
    body="How can you define your movies/series taste?" 
    questionId="7"
    choices={ ['I like what everyone else likes', 'My preferences are diverse', 'My taste in movies is very niche and eclectic'] }>
    </BoolMultiple>

    <Submit client:load redirect="Personality"></Submit>
</QForm>

<style>
    .instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #575091;
		padding: 1.0rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}
</style>