---
import QForm from '../../layouts/Question-form.astro';
import Movie from '../../components/Movie.astro';
import Submit from '../../components/Submit.astro';
import BoolMultiple from '../../components/BoolMultiple.astro';
import RecipesGeneration from '../../components/RecipesGeneration.astro';
import Likard from '../../components/Likard.astro';
import Boolean from '../../components/Boolean.astro';

import Loading from '../../components/Loading.astro';
---
<QForm title='Generation'>
    <h2 class="instructions">These are your recommendations! Please look at both, and answer the questions below!</h2>
    <RecipesGeneration title='' body=''></RecipesGeneration>
    <Boolean
    questionId="1"
    body="Which of the two selections would you say fit your preferences best?">
    </Boolean>

    <Likard
    questionId="2"
    body="I found selections A and selection B to be simular">
    </Likard>

    <Likard
    questionId="3"
    body="Out of the two selections, the selection i chose fit my preferences well.">
    </Likard>


    <Submit redirect="/thanks" final={true}></Submit>
</QForm>

<style>
    .instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #575091;
		padding: 1.0rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}
</style>