---
import QForm from '../../layouts/Question-form.astro';
import Submit from '../../components/Submit.astro';

import Likard from '../../components/Likard.astro';
import Boolean from '../../components/Boolean.astro';
import BoolMultiple from '../../components/BoolMultiple.astro';
import Open from '../../components/OpenAnswer.astro';
import Checkbox from '../../components/Checkbox.astro';
---
<QForm title='Personality'>

    <h2 class="instructions">Now tell us a bit more about your personality:</h2>

    <BoolMultiple 
        title="I see myself as extraverted, enthusiastic."
        questionId="1">
    </BoolMultiple>

    <BoolMultiple 
        title="I see myself as critical, quarrelsome."
        questionId="2">
    </BoolMultiple>

    <BoolMultiple
        title="I see myself as dependable, self-disciplined."
        questionId="3">
    </BoolMultiple>

    <BoolMultiple
        title="I see myself as anxious, easily upset."
        questionId="4">
    </BoolMultiple>

    <BoolMultiple
        title="I see myself as open to new experiences, complex."
        questionId="5">
    </BoolMultiple>

    <BoolMultiple
        title="I see myself as reserved, quiet."
        questionId="6">
    </BoolMultiple>

    <BoolMultiple
        title="I see myself as sympathetic, warm."
        questionId="7">
    </BoolMultiple>

    <BoolMultiple
        title="I see myself as disorganized, careless."
        questionId="8">
    </BoolMultiple>

    <BoolMultiple
        title="I see myself as calm, emotionally stable."
        questionId="9">
    </BoolMultiple>

    <BoolMultiple
        title="I see myself as conventional, uncreative."
        questionId="10">
    </BoolMultiple>

    <Submit client:load redirect="Generation"></Submit>
</QForm>

<style>
    .instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #575091;
		padding: 1.0rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}
</style>