---
import QForm from '../../layouts/Question-form.astro';
import Movie from '../../components/Movie.astro';
import Submit from '../../components/Submit.astro';
import MovieSearch from '../../components/MovieSearch.astro';
import Recipes from '../../components/Recipes.astro';
import BoolMultiple from '../../components/BoolMultiple.astro';
---
<QForm title='Preference'>
    <h2 class="instructions">Please tell us a bit about your preferences:</h2>
    <Recipes title='' body='With the information present and your previous experience, please rate the following recipes, then click next.' questionId="1"></Recipes>
    <Submit redirect="Generation" train={true} recipes={true}></Submit>
</QForm>

<style>
    .instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #575091;
		padding: 1.0rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}
</style>