---
import Layout from '../layouts/Layout.astro';
import Card from '../components/astro-backup-comp/Card.astro';
---
<Layout title="INFO345 User Study">
	<main>
		<h2><center>Food Recommender Questionaire &#127790</center></h2>
		<p class="instructions">
			Welcome to our Study!<br/><br/>

			<b>Procedure:</b> You will be presented with 10 recipes, where you will be asked to rate them based on the information present and your personal preferences. You will then be given two sets of recommendations, where you will be asked three questions regarding your satisfaction of the two sets compared to eachother. OBS! This survey cannot be done on a mobile phone.<br/><br/>

            <b>Duration & Consent: </b> The study takes around 5 minutes to complete &#9203. By clicking Start you confirm that you've read and understood
            the following: By starting this study I give my consent that my answers from this questionaire can be used for a university assignment at the University of Bergen. OBS! This study does not process or store any personal data about our users. Regarding cookies &#127850: we store an unique user ID in your browser cookies, which will self delete after 24 hours.<br/><br/>
            <hr>
            <small><center>With any further questions please contact the person responsible for running the study: snorre.alvsvag@uib.no</center></small>

		</p>

		<ul role="list" class="link-card-grid">
		    <Card href="/q/Preference" title="Start &#10145" body="I give my consent and want to begin the study." />

		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4);
	}

	h1 {
		margin: 2rem 0;
	}
	h2 {
		margin: 2rem 0;
	}
	main {
		margin: auto;
    	padding: 1em;
		max-width: 90ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #575091;
		padding: 1.0rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
